.OrderCard {
    text-align: left;
}

.OrderImg {
    width: fit-content;
    height: fit-content;
    text-align: center;
}

.text {
    font-weight: bold;
    font-size: medium;
}

.underline{
    text-decoration-line: underline;
    font-size: 30px;
}

.OrderName {
    color: orange;
    font-size: 30px !important;
}

.maxleng {
    width: 230px;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 6px 12px;
    width: 100px;
    cursor: pointer !important;
    margin: 5px;
}
